.request {
  border: 1px solid black;

}

.request-action {
  display: flex;
  align-items: center;
}

.request-toggle-details[aria-expanded=false] .text-expanded {
  display: none;
}
.request-toggle-details[aria-expanded=true] .text-collapsed {
  display: none;
}
