/* This file is for your main application css. */
@import 'font-awesome';
@import 'bootstrap';
@import 'colors';

body {
  color: $text-color !important;
}

.alerts .alert:empty {
  display: none;
}

a.unstyled-link {
  color: inherit;
  text-decoration: none;
}
