// Color scheme
$color1: hsla(222%, 15%, 87%, 1);
$color2: hsla(5%, 6%, 66%, 1);
$color4: hsla(0%, 0%, 89%, 1);
$bgcolor: rgba(202, 220, 237, 1);
$text-color: hsla(0%, 0%, 24%, 1);

// Method colors
// stolen form the swagger ui and modified a bit
$color-post: #49cc90;
$color-get: #306aa5;
$color-put: #965d36;
$color-patch: #fca130;
$color-delete: #f93e3e;
$color-head: #9012fe;
$color-options: #0d5aa7;
$color-other: $bgcolor;


