<h2>Latest requests for bin <%= @bin_id %></h2> 
<%= for {req, id_in_list} <- Enum.with_index(@reqs) do %>
  <%= render RequestbinWeb.RequestView, "details.html", req: req, is_collapsed: id_in_list != 0, conn: @conn %>
<% end %>
